.feedList, .feedWraper {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;

}

.feedListItem, .feedWraperText {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #f0f0f0;

}

